.box {
  margin: 3em auto;
  width: 30%;
  box-shadow: 0 2px 7px rgb(0 0 0 / 0.2);
  padding: 1.5em;
}

.box img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.box h1 {
  font-size: 30px;
  display: block;
  color: #AAABAB;
  font-weight: 400;
  margin-bottom: 0;
}

.box small {
  font-size: 14px;
}

.box hr {
  margin-bottom: 0;
  border-color: lightgrey;
}

.box ul {
  margin: 0 0 10px 0;
  list-style-type: none;
  padding: 0;
}

.box li {
  display: inline-block;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.box .checkbox {
  float: left;
  color: #000;
  width: 23px;
  height: 23px;
  cursor: pointer;
  margin: auto 10px;
}

.box .button {
  background-color: #00BFFF;
  width: 100%;
  border-style: none;
  color: #fff;
  padding: 20px 0;
  font-size: 15px;
}

.box .button:active {
  background-color: red;
}